<% include _header %>

<div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Shopping cart</h1>
            <div class="goods-page">
            <% if(products == null){ %>
                  <div>Your Cart is Empty</div>
            <% } else { %>
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">Image</th>
                    <th class="goods-page-description">Description</th>
                    <th class="goods-page-ref-no">Ref No</th>
                    <th class="goods-page-quantity">Quantity</th>
                    <th class="goods-page-price">Unit price</th>
                    <th class="goods-page-total" colspan="2">Total</th>
                  </tr>
                  <% products.forEach(function(product) { %>
                  <tr>
                    <td class="goods-page-image">
                      
                    </td>
                    <td class="goods-page-description">
                      <h3><a href="javascript:;"><%= product.item.description %></a></h3>
                      <span><%= product.item.title %></span>
                    </td>
                    <td class="goods-page-ref-no">
                      javc2133
                    </td>
                    <td class="goods-page-quantity">
                      <div class="product-quantity">
                          <%= product.qty %>
                      </div>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>€</span><%= product.price %></strong>
                    </td>
                    <td class="goods-page-total">
                      <strong><span>€</span><%= product.price %></strong>
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="javascript:;">&nbsp;</a>
                    </td>
                  </tr>
                  <% }) %>
                </table>
                </div>

                <div class="shopping-total">
                  <ul>
                    <li>
                      <em>Sub total</em>
                      <strong class="price"><span>€</span><%= totalPrice %></strong>
                    </li>
                    <li>
                      <em>Shipping cost</em>
                      <strong class="price"><span>€</span></strong>
                    </li>
                    <li class="shopping-total-price">
                      <em>Total</em>
                      <strong class="price"><span>€</span><%= totalPrice %></strong>
                    </li>
                  </ul>
                </div>
              </div>
            <% } %>
              <a href="/" class="btn btn-default">Continue shopping <i class="fa fa-shopping-cart"></i></a>
              <a href="/checkout" class="btn btn-primary">Checkout <i class="fa fa-check"></i></a>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

    </div>
  </div>

<% include _footer %>